<!doctype html>
<!--
Cadastro de eventos dentro do condomínio
-->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Eventos</title>

    </head>
    <body>
    <th:block th:fragment="conteudo">
        <main role="main">
            <h3 class="font-weight-light">Cadastro de Eventos</h3>
            <div th:unless="${haCondominio}" class="alert alert-warning">
                <h6>Condomínio não cadastrado</h6>
                Para cadastrar um evento é preciso completar o cadastro do seu condomínio, <a class="text-warning" th:href="@{/sindico/condominio/cadastro}">clique aqui</a>.
            </div>
            <p th:if="${haCondominio}" th:text="${evento.idEvento == null} ? 'Ao salvar, um novo evento será adicionada no condomínio.' : (${param.somenteLeitura} ? 'As informações não podem ser alteradas neste modo.' :  'Ao salvar, as informações do evento atual serão atualizadas.')"></p>
            <form th:if="${haCondominio}" th:action="@{/sindico/eventos/cadastro}" th:object="${evento}" th:method="${evento.idEvento == null} ? post : put" novalidate>
                <fieldset th:disabled="${param.somenteLeitura}" class="mb-3">
                    <input type="hidden" th:field="*{condominio}" /> <input type="hidden" th:field="*{idEvento}" />
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="text-success">
                                    <!--<i class="far fa-calendar-alt"></i> Calendário-->
                                </p>
                                <div class="form-row ">
                                    <div class="form-group col-md-4 text-success" th:classappend="${evento.idEvento == null}?'col-md-3':'col-md-4'">
                                        <label ><i class="far fa-calendar-alt bg-light text-success"></i> Data do Evento</label> <input autofocus class="form-control" type="date" th:errorclass="is-invalid" th:field="*{dataEvento}" placeholder="Data do evento" />
                                        <div class="invalid-feedback" th:errors="*{dataEvento}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Titulo</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{titulo}" placeholder="Titulo" />
                                        <div class="invalid-feedback" th:errors="*{titulo}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Descrição</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{descricao}" placeholder="Descrição" />
                                        <div class="invalid-feedback" th:errors="*{descricao}"></div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Unidade</label> <select class="custom-select last" th:errorclass="is-invalid" th:field="*{moradia}">
                                            <option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
                                            <option th:if="${#lists.isEmpty(moradias)}" value="" disabled>Não há moradias cadastradas</option>
                                            <option th:each="m : ${moradias}" th:value="${m.idMoradia}" th:text="${m}"></option>
                                        </select>
                                        <div class="invalid-feedback" th:errors="*{moradia}"></div>
                                    </div>

                            </li>
                        </ul>
                    </div>
                </fieldset>
                <button th:unless="${param.somenteLeitura}" type="submit" class="btn btn-success">Salvar</button>
			<a class="btn btn-danger" th:href="@{/sindico/eventos}" role="button" th:text="${param.somenteLeitura}?'Voltar':_">Cancelar</a>
            </form>
        </main>
    </th:block>
    <th:block th:fragment="jsAdicional"></th:block>
</body>
</html>

