
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>SistCon</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light">Administração do Sistema</h3>
		<div class="row mt-2">
                    
                    
                     <div class="col-md-4 col-sm-6 mb-4">
                         <div class="card border-primary">
                             <!--<div class="card-header bg-light">Meus Dados</div>-->
				<div class="card bg-primary"> <!--muda a cor de fundo do card--border-success-->
					<div class="card-body text-white"><i class="fas fa-edit"style="font-size:26px"></i>
                                                    <h5 class="card-title text-truncate">Eventos</h5>
                                                    <p class="card-text text-truncate">
                                                        <a class="float-right" th:href="@{/sindico/eventos}" title="Cadastro de Eventos"><i class="fas fa-arrow-circle-right text-white"></i></a>
                                                    </p>
					</div>
				</div>
			</div>
                          </div>
                    
                    <div class="col-md-4 col-sm-6 mb-4 order-3 order-sm-2">
                        <div class="card border-success">
				<div class="card bg-success"> <!--muda a cor de fundo do card--border-success-->
                                    <!--<div class="card-header bg-light">Cadastro de Reservas</div>-->
					<div class="card-body text-white"><i class="fas fa-calendar-alt"style="font-size:26px"></i>
						<h5 class="card-title text-truncate">Reservas Áreas</h5>
						<p class="card-text text-truncate">
						<a class="float-right" th:href="@{/sindico/reservas}" title="Cadastro de Reservas"><i class="fas fa-arrow-circle-right text-white"></i></a>
						</p>
					</div>
				</div>
			</div>
                    
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mb-4 order-4 order-sm-3">
                         <div class="card border-warning">
                             <!--<div class="card-header bg-light">Veículo</div>-->
				<div class="card bg-warning"> <!--muda a cor de fundo do card--border-success-->
					<div class="card-body text-white"><i class="fa fa-bullhorn" style="font-size:26px"></i>
						<h5 class="card-title text-truncate">Ocorrências</h5>
						<p class="card-text text-truncate">
							<a class="float-right" th:href="@{/sindico/ocorrencias}" title="Cadastro de Ocorrências"><i class="fas fa-arrow-circle-right text-white"></i></a>
						</p>
					</div>
				</div>
			</div>
                          </div>
                    
                    <div class="col-md-4 col-sm-6 mb-4 order-4 order-sm-3">
                         <div class="card border-danger">
                             <!--<div class="card-header bg-light">Veículo</div>-->
				<div class="card bg-danger"> <!--muda a cor de fundo do card--border-success-->
					<div class="card-body text-white"><i class="fa fa-user-plus" style="font-size:26px"></i>
						<h5 class="card-title text-truncate">Moradores</h5>
						<p class="card-text text-truncate">
							<a class="float-right" th:href="@{/sindico/pessoas}" title="Cadastro de Moradores"><i class="fas fa-arrow-circle-right text-white"></i></a>
						</p>
					</div>
				</div>
			</div>
                          </div>
                    
                    <div class="col-md-4 col-sm-6 mb-4 order-5 order-sm-4">
                         <div class="card border-success">
                             <!--<div class="card-header bg-light">Documentos</div>-->
				<div class="card bg-success"> <!--muda a cor de fundo do card--border-success-->
					<div class="card-body text-white"><i class="fa fa-car" style="font-size:26px"></i>
						<h5 class="card-title text-truncate">Cadastro de Veículo</h5>
						<p class="card-text text-truncate">
							<a class="float-right" th:href="@{/sindico/veiculos}" title="Cadastro de Veículos"><i class="fas fa-arrow-circle-right text-white"></i></a>
						</p>
					</div>
				</div>
			</div>
                          </div>
                    
                    <div class="col-md-4 col-sm-6 mb-4 order-5 order-sm-4">
                        <div class="card" th:classappend="${saldoAtual}<0?'border-danger'">
                            <div class="card border-warning">
                                <div class="card bg-warning">
                                    <div class="card-body text-white"><i class="fas fa-dollar-sign" style="font-size:26px"></i>
                                        <h5 class="card-title text-truncate">Saldo em Conta</h5>
                                        <!--<div class="card-body order-1 bg-warning" th:classappend="${saldoAtual}<0?'text-danger':'text-white'"><i class="fas fa-dollar-sign"style="font-size:26px"></i>-->

                                        <p class="card-text text-truncate">
                                            <span th:text="'R$ ' + ${saldoAtual}"></span> 
                                            <a class="float-right" th:classappend="${saldoAtual}<0?'text-danger':'text-white'" th:href="@{/sindico/contas}" title="Cadastro de Contas de Movimentação">
                                                <i class="fas fa-arrow-circle-right"></i></a>
                                        </p>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                                    
			<div class="col-md-4 col-sm-6 mb-4 order-4 order-sm-3">
                            <div class="card border-primary">
                                <!--<div class="card-header bg-light">Informativos</div>-->
				<div class="card bg-primary">
					<div class="card-body text-white"><i class="fa fa-users"style="font-size:26px"></i>
						<h5 class="card-title text-truncate">Registro de Visitantes</h5>
						<p class="card-text text-truncate">
                                                 <a class="float-right" th:href="@{/sindico/visitantes}" title="Cadastro de Visitantes"><i class="fas fa-arrow-circle-right text-white"></i></a>
                                                </p>
					</div>
				</div>
             
			</div>
                                
                            </div>
                        
                        <div class="col-md-4 col-sm-6 mb-4 order-5 order-sm-4">
                            <div class="card" th:classappend="${inadimplencia}>0?'border-primary'">
                                <div class="card border-danger">
                                <div class="card bg-danger">
                                    <div class="card-body text-white"><i class="fab fa-sistrix"style="font-size:26px"></i>
                                        <h5 class="card-title text-truncate">Consulta Inadimplência</h5>
                                        <p class="card-text text-truncate">
                                            <span th:text="'R$ ' + ${inadimplencia}"></span> <a class="float-right text-white" th:classappend="${inadimplencia}>0?'text-danger':'text-white'" th:href="@{/sindico/relatorios/inadimplencia}" title="Cadastro de Cobranças"><i class="fas fa-arrow-circle-right"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                             </div>

                        
                        <div class="col-md-4 col-sm-6 mb-4 order-6 order-sm-5">
                        <div class="card border-primary">
				<div class="card bg-primary"> <!--muda a cor de fundo do card--border-success-->
                                    <!--<div class="card-header bg-light">Cadastro de Reservas</div>-->
					<div class="card-body text-white"><i class="fas fa-info-circle"style="font-size:26px"></i>
						<h5 class="card-title text-truncate">Informativo</h5>
						<p class="card-text text-truncate">
                                                    <a class="float-right" th:href="@{/sindico/informativos}" title="Cadastro de Informativos"> <span class="badge badge-success badge-pill" th:text="${numero_informativos}">0</span></a>
						</p>
					</div>
				</div>
			</div>
                    
                    </div>
                        
                    <!---->
                        
			<div class="col-md-6 col-sm-6 mb-4 order-7 order-sm-6">
				<div class="card bg-success text-white">
					<div class="card-header">Resumo do Mês</div>
					<div class="card-body bg-white">
						<canvas id="resumoMensal" style="max-height: 200px"></canvas>
					</div>
				</div>
			</div>
                            
			<div class="col-md-6 mb-4 order-4 order-sm-6 ">
				<div class="card bg-success text-white">
					<div class="card-header">Orçamento do Período</div>
					<div class="card-body bg-white">
						<canvas id="orcadoRealizado" style="max-height: 200px"></canvas>
					</div>
				</div>
			</div>
                    
                    
                            
                      </div>      
		</main>
	</th:block>
	<th:block th:fragment="jsAdicional">
		<script th:src="@{/js/Chart.min.js}"></script>
		<script th:src="@{/js/chartjs-plugin-datalabels.min.js}"></script>
		<script th:src="@{/js/chartjs-plugin-deferred.min.js}"></script>
		<script th:inline="javascript">
			new Chart(document.getElementById("resumoMensal"), {
				type : 'horizontalBar',
				data : {
					labels : [ 'Receitas', 'Despesas' ],
					datasets : [ {
						data : [[${receitaDespesaMes}]],
						label : 'Total (R$)',
						backgroundColor : [ 'rgba(75, 192, 192, 0.5)',
								'rgba(255, 99, 132, 0.5)' ],
						borderColor : [ 'rgba(75, 192, 192, 1)',
								'rgba(255,99,132,1)' ],
						borderWidth : 1
					} ]
				},
				options : {
					maintainAspectRatio : false,
					animation : {
						duration : 2000
					},
					layout:{
						padding:{
							right: 70
						}
					},
					tooltips:{
						enabled: false
					},
					plugins: {
			            datalabels: {
							anchor: 'end',
							align: 'right',
							formatter: function(value, context) {
							    return 'R$ ' + value.toFixed(2);
							}
						},
						deferred: {
					        yOffset: '50%'
					    }
					},
					scales : {
						xAxes : [ {
							display : true,
							ticks : {
								display : false,
								beginAtZero : true,
								callback : function(value, index, values) {
									return 'R$ ' + value;
								}
							},
							gridLines : {
								display : false,
								drawBorder : false
							}
						} ],
						yAxes : [ {
							display : true,
							ticks : {
								display : true
							},
							gridLines : {
								display : false,
								drawBorder : true
							}
						} ]
					},
					legend : {
						display : false
					}
				}
			});
			new Chart(document.getElementById("orcadoRealizado"), {
				type : 'bar',
				data : {
					labels : [ 'Receitas', 'Despesas' ],
					datasets : [
							{
								data : [[${receitaDespesaOrcada}]],
								label : 'Orçado',
								backgroundColor : [ 'rgba(75, 192, 192, 0.75)',
										'rgba(255, 99, 132, 0.75)' ],
								borderColor : [ 'rgba(75, 192, 192, 1.5)',
										'rgba(255,99,132,1.5)' ],
								borderWidth : 1
							},
							{
								data : [[${receitaDespesaRealizada}]],
								label : 'Realizado',
								backgroundColor : [ 'rgba(75, 192, 192, 0.25)',
										'rgba(255, 99, 132, 0.25)' ],
								borderColor : [ 'rgba(75, 192, 192, 0.5)',
										'rgba(255,99,132,0.5)' ],
								borderWidth : 1
							} ]
				},
				options : {
					maintainAspectRatio : false,
					animation : {
						duration : 2000
					},
					tooltips:{
						enabled: false
					},
					layout:{
						padding:{
							top: 40
						}
					},
					plugins: {
			            datalabels: {
							anchor: 'end',
							align: 'top',
							textAlign: 'center',
							formatter: function(value, context) {
							    return context.chart.data.datasets[context.datasetIndex].label + '\nR$ ' + value.toFixed(2);
							}
						},
						deferred: {
					        yOffset: '50%'
					    }
					},
					scales : {
						yAxes : [ {
							display : true,
							ticks : {
								display : false,
								beginAtZero : true,
								callback : function(value, index, values) {
									return 'R$ ' + value;
								}
							},
							gridLines : {
								display : false,
								drawBorder : false
							}
						} ],
						xAxes : [ {
							display : true,
							ticks : {
								display : true
							},
							gridLines : {
								display : false,
								drawBorder : true
							}
						} ]
					},
					legend : {
						display : false
					}
				}
			});
		</script>

	</th:block>
</body>
</html>
