<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Reservas</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light float-left">Reservas</h3>
		<div class="btn-group mb-3 float-right">
			<a class="btn btn-light" th:href="@{/sindico/reservas/cadastro}"><i class="fas fa-plus"></i> Nova</a>
			<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/sindico/reservas/cadastro}">Criar reserva</a> <a class="dropdown-item" href="#">Local</a> <a class="dropdown-item" href="#">Importar</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${reservas.totalElements == 0} ? 'Nenhum' : 'Há '+${reservas.totalElements}"></span> <span th:text="${reservas.totalElements>1} ? 'reservas cadastrados' : 'reserva cadastrado'"></span>.
				</caption>
				<thead class="thead-light">
					<tr>
                                                <th scope="col">Data</th>
						<th scope="col">Unidade</th>
                                                <th scope="col">Reserva Área</th>
                                                <th scope="col">Convidados</th>
                                                <th scope="col">Valor</th>
                                                <th scope="col">Observações</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reserva : ${reservas.content}">
                                               <!--<th scope="row" th:text="${#temporals.format(reserva.dia,'dd/MM/yyyy')}"></th>-->
                                                <th scope="row" th:text="${#temporals.format(reserva.dia,'dd/MM/yyyy')}"></th>
                                               <th scope="row" th:text="${reserva.sigla}"></th>
						<td th:text="${reserva.tipo.nome}"></td>
                                                <td th:text="${reserva.convidado}"></td>
                                                <td th:text="'R$ ' + ${reserva.valor}"></td>
                                               <td th:text="${reserva.observacao}"></td>
                                               
						<td><a class="btn btn-outline-secondary btn-sm" th:href="@{/sindico/reservas/{idReserva}/cadastro(idReserva=${reserva.idReserva},somenteLeitura)}">
                                                        <i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/sindico/reservas/{idReserva}/cadastro(idReserva=${reserva.idReserva})}">
                                                            <i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" th:data-idobj="${reserva.idReserva}" th:data-obs="${reserva}">
                                                                <i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<nav th:if="${reservas.totalPages > 1}" id="paginacao" th:with="atual=${reservas.number+1}">
			<ul class="mt-3 mb-0 pagination pagination-sm justify-content-center justify-content-md-end">
				<li class="d-none d-sm-block page-item" th:if="${atual > 10}"><a class="page-link" th:href="@{/sindico/reservas(pagina=${atual -10},tamanho=${reservas.size})}">-10</a></li>
				<li class="page-item" th:unless="${reservas.isFirst()}"><a class="page-link first" th:href="@{/sindico/reservas(pagina=${atual -1},tamanho=${reservas.size})}"><i class="fas fa-angle-double-left"></i><span> Anterior</span></a></li>
				<li class="page-item" th:classappend="${reservas.isFirst()}?'active'"><a class="page-link" th:href="@{/sindico/reservas(pagina='1',tamanho=${reservas.size})}">1</a></li>
				<li class="page-item disabled" th:if="${atual > 3}"><a class="page-link" href="#">...</a></li>
				<li th:if="${atual > 2}" class="page-item"><a class="page-link" th:href="@{/sindico/reservas(pagina=${atual -1},tamanho=${reservas.size})}" th:text="${atual -1}"></a></li>
				<li th:unless="${reservas.isFirst() or reservas.isLast()}" class="page-item active"><a class="page-link" th:href="@{/sindico/reservas(pagina=${atual},tamanho=${reservas.size})}" th:text="${atual}"></a></li>
				<li th:if="${atual < (reservas.totalPages - 1)}" class="page-item"><a class="page-link" th:href="@{/sindico/reservas(pagina=${atual +1},tamanho=${reservas.size})}" th:text="${atual +1}"></a></li>
				<li class="page-item disabled" th:if="${atual < (reservas.totalPages - 2 )}"><a class="page-link" href="#">...</a></li>
				<li th:if="${reservas.totalPages > 1}" class="page-item" th:classappend="${reservas.isLast()}?'active'"><a class="page-link" th:href="@{/sindico/reservas(pagina=${reservas.totalPages},tamanho=${reservas.size})}" th:text="${reservas.totalPages}"></a></li>
				<li class="page-item" th:unless="${reservas.isLast()}"><a class="page-link last" th:href="@{/sindico/reservas(pagina=${atual +1},tamanho=${reservas.size})}"><span>Próxima </span><i class="fas fa-angle-double-right"></i></a></li>
				<li class="d-none d-sm-block page-item" th:if="${atual < (reservas.totalPages-9)}"><a class="page-link" th:href="@{/sindico/reservas(pagina=${atual +10},tamanho=${reservas.size})}">+10</a></li>
			</ul>
		</nav>
		</main>
		<!--/* Modal */-->
		<div th:unless="${#lists.isEmpty(reservas)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/sindico/reservas/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão da reserva '<span></span>'?
							<div class="alert alert-danger mt-3 mb-0">As reservas, se houver, também serão excluídas.</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>