<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Reserva</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light">Cadastro do Reserva</h3>
		<div th:unless="${haCondominio}" class="alert alert-warning">
			<h6>Condomínio não cadastrado</h6>
			Para cadastrar reservas é preciso completar o cadastro do seu condomínio, <a class="text-warning" th:href="@{/sindico/condominio/cadastro}">clique aqui</a>.
		</div>
		<p th:if="${haCondominio}" th:text="${reserva.idReserva == null} ? 'Ao salvar, uma nova reserva será adicionada no condomínio.' : (${param.somenteLeitura} ? 'As informações não podem ser alteradas neste modo.' :  'Ao salvar, as informações do reserva atual serão atualizadas.')"></p>
		<form th:if="${haCondominio}" th:action="@{/sindico/reservas/cadastro}" th:object="${reserva}" th:method="${reserva.idReserva == null} ? post : put" novalidate>
			<fieldset th:disabled="${param.somenteLeitura}" class="mb-3">
				<input type="hidden" th:field="*{condominio}" /> <input type="hidden" th:field="*{idReserva}" />
				<div class="card">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<p class="text-primary">
								<!--<i class="far fa-calendar-alt"></i> Calendário-->
							</p>
							<div class="form-row">
								<div class="form-group col-md-4" th:classappend="${reserva.idReserva == null}?'col-md-3':'col-md-4'">
									<label><i class="far fa-calendar-alt bg-light"></i> Data da Reserva</label> <input autofocus class="form-control" type="date" th:errorclass="is-invalid" th:field="*{dia}" placeholder="Dia da reserva" />
									<div class="invalid-feedback" th:errors="*{dia}"></div>
								</div>
                                                        
						   
                                                          <div class="form-group col-md-4">
									<label>Área Comum</label> <select class="custom-select" id="tipo" th:errorclass="is-invalid" th:field="*{tipo}">
										<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
										<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.nome}"></option>
									</select>
									<div class="invalid-feedback" th:errors="*{tipo}"></div>
								</div>
                                                            
                                                            <div class="form-row">
								<div class="form-group col-md-3">
									<label>Unidade</label> <input autofocus class="form-control" type="text" th:errorclass="is-invalid" th:field="*{sigla}" placeholder="Unidade" />
									<div class="invalid-feedback" th:errors="*{sigla}"></div>
								</div>
							
                                                            <div class="form-row">
								<div class="form-group col-md-4">
									<label>Quantidade</label> <input autofocus class="form-control" type="text" th:errorclass="is-invalid" th:field="*{quantidade}" placeholder="Quantidade" />
									<div class="invalid-feedback" th:errors="*{quantidade}"></div>
								</div>
                                                            
                                                            
                                                                <div class="form-group col-md-6">
									<label>Valor</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">R$</span>
										</div>
										<input class="form-control last calc-add" type="number" step="0,0" th:errorclass="is-invalid" th:field="*{valor}" placeholder="Valor da reserva" />
										<div class="invalid-feedback" th:errors="*{valor}"></div>
									</div>
                                                                </div>
                                                                </div>
                                                                
								<!--<div class="form-group">
									<label>Observação</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{descricao}" placeholder="Descrição" />
									<div class="invalid-feedback" th:errors="*{descricao}"></div>
								</div>-->
                                                                        
                                                             <div class="form-group col-md-12">
								<label>Observação</label>
								<textarea class="form-control" rows="3" th:errorclass="is-invalid" th:field="*{observacao}" placeholder="Outros detalhes da reserva."></textarea>
								<div class="invalid-feedback" th:errors="*{observacao}"></div>
							</div>
							
						</li>
					</ul>
				</div>
			</fieldset>
			<button th:unless="${param.somenteLeitura}" type="submit" class="btn btn-success">Salvar</button>
			<a class="btn btn-danger" th:href="@{/sindico/reservas}" role="button" th:text="${param.somenteLeitura}?'Voltar':_">Cancelar</a>
		</form>
		</main>
	</th:block>
	<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>