<!doctype html>
<!--
Cadastro de convidados dentro do condomínio
-->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Visitantes</title>

    </head>
    <body>
    <th:block th:fragment="conteudo">
        <main role="main">
            <h3 class="font-weight-light">Cadastro de Visitantes</h3>
            <div th:unless="${haCondominio}" class="alert alert-warning">
                <h6>Condomínio não cadastrado</h6>
                Para cadastrar um visitante é preciso completar o cadastro do seu condomínio, <a class="text-warning" th:href="@{/sindico/condominio/cadastro}">clique aqui</a>.
            </div>
            <p th:if="${haCondominio}" th:text="${visitante.idVisitante == null} ? 'Ao salvar, um novo visitante será adicionado no condomínio.' : (${param.somenteLeitura} ? 'As informações não podem ser alteradas neste modo.' :  'Ao salvar, as informações do visitante atual serão atualizados.')"></p>
            <form th:if="${haCondominio}" th:action="@{/sindico/visitantes/cadastro}" th:object="${visitante}" th:method="${visitante.idVisitante == null} ? post : put" novalidate>
                <fieldset th:disabled="${param.somenteLeitura}" class="mb-3">
                    <input type="hidden" th:field="*{condominio}" /> <input type="hidden" th:field="*{idVisitante}" />
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="text-success">
                                    <i class="fa fa-users"></i> Informações principais
                                </p>
                                <div class="form-row ">
                                    <div class="form-group col-md-6">
                                        <label>Nome</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{nome}" placeholder="Nome do visitantes" />
                                        <div class="invalid-feedback" th:errors="*{nome}"></div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>RG</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{rg}" placeholder="A Identidade do visitantes" />
                                        <div class="invalid-feedback" th:errors="*{rg}"></div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Sigla</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{sigla}" placeholder="Sigla" />
                                        <div class="invalid-feedback" th:errors="*{sigla}"></div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Unidade</label> <select class="custom-select last" th:errorclass="is-invalid" th:field="*{moradia}">
                                            <option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
                                            <option th:if="${#lists.isEmpty(moradias)}" value="" disabled>Não há moradias cadastradas</option>
                                            <option th:each="m : ${moradias}" th:value="${m.idMoradia}" th:text="${m}"></option>
                                        </select>
                                        <div class="invalid-feedback" th:errors="*{moradia}"></div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </fieldset>
                <button th:unless="${param.somenteLeitura}" type="submit" class="btn btn-success">Salvar</button>
                <a class="btn btn-danger" th:href="@{/sindico/visitantes}" role="button" th:text="${param.somenteLeitura}?'Voltar':_">Cancelar</a>
            </form>
        </main>
    </th:block>
    <th:block th:fragment="jsAdicional"></th:block>
</body>
</html>

